.header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:20px 24px;
  height:60px;
  background-color: #F5F5F5;
}

.list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}

li, li a {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
}

.logOutButton{
  color:#FF0000;
}

.active{
  color:#141927;
  text-decoration: underline;
}